<a href="https://colab.research.google.com/github/ridwanhasnat/ridwanhasnat/blob/Video-game-sales/Python_ML_Mosh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier

In [ ]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
videogamesales = pd.read_csv ('/content/drive/MyDrive/vgsales.csv')
videogamesales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
videogamesales.shape

(16598, 11)

In [ ]:
videogamesales.describe ()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
videogamesales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music = pd.read_csv ('/content/drive/MyDrive/music.csv.zip (Unzipped Files)/music.csv')
X = music.drop(columns = ['genre'])
Y = music ['genre']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

#print (X)
#print (Y)

model = DecisionTreeClassifier()                   #creating an instance 
model.fit(X_train,Y_train)                                      #setting the two datasets as parametres
predictions = model.predict(X_test)     #making the model predict
#predictions 

score = accuracy_score(Y_test, predictions)    #determining accuracy of model
score

0.75

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
 
#rom sklearn.metrics import accuracy_score

#music = pd.read_csv ('/content/drive/MyDrive/music.csv.zip (Unzipped Files)/music.csv')
#X = music.drop(columns = ['genre'])
#Y = music ['genre']

#model = DecisionTreeClassifier()                   #creating an instance 
#model.fit(X,Y) 

joblib.dump(model, 'Music Recommender.joblib')    #storing a trained model in a file

['Music Recommender.joblib']

In [ ]:
model = joblib.load('Music Recommender.joblib')   #loading the saved trained model
predictions = model.predict([[21,1]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['HipHop'], dtype=object)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import tree

from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

!apt-get -qq install -y graphviz && pip install pydot
import pydot

 
#from sklearn.metrics import accuracy_score

music = pd.read_csv ('/content/drive/MyDrive/music.csv.zip (Unzipped Files)/music.csv')
X = music.drop(columns = ['genre'])
Y = music ['genre']

model = DecisionTreeClassifier()                   #creating an instance 
model.fit(X,Y)                                      #training the model
 
tree.export_graphviz (model, out_file= 'Music Recommender.dot', feature_names=['age', 'gender'], 
                    class_names = sorted(Y.unique()), label = 'all', rounded = True, filled= True)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot) (3.0.9)

# New Section